/*==================================
FOOTER
===================================*/

.footer{

    background:#050505;

    border-top:1px solid rgba(255,255,255,.08);

    padding:90px 20px 30px;

}

.footer-container{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:60px;

}

.footer-column h3{

    color:#fff;

    font-size:30px;

    margin-bottom:20px;

}

.footer-column h4{

    color:#fff;

    margin-bottom:20px;

}

.footer-column p{

    color:#9FA8B5;

    line-height:1.8;

}

.footer-column ul{

    list-style:none;

}

.footer-column li{

    margin-bottom:15px;

}

.footer-column a{

    color:#9FA8B5;

    text-decoration:none;

    transition:.35s;

}

.footer-column a:hover{

    color:#F7941D;

}

.footer-bottom{

    margin-top:70px;

    padding-top:30px;

    border-top:1px solid rgba(255,255,255,.08);

    text-align:center;

    color:#777;

}